# Analytics
VITE_ANALYTICS_PROVIDER_ID=
VITE_ANALYTICS_TRACKING_KEY=

# Navigation URLs
VITE_REGISTRATION_URL=https://app.genieqa.com/register
VITE_LOGIN_URL=https://app.genieqa.com/login
VITE_CONTACT_URL=https://genieqa.com/contact

# Site
VITE_SITE_URL=https://genieqa.com
